<form action="/course/add" method="post">
    <p>
        <label>Course name: </label><input type="text" value="" name="courseName"/><br>
        <label>Course duration: </label><input type="text" value="" name="courseDuration"/><br>
        <label>Course fees: </label><input type="text" value="" name="courseFee"/>
        <button type="submit">ADD</button>
    </p>
</form>